$primary-color: #2a3647;
$secondary-color: #29abe2;
$tertiary-color: #091931;


$board-textcolor:#42526E;

$brand-color: #00bee8;
$content-bg: #f5f6f7;

$font-lightcolor: #cdcdcd;
$error-color-red: #e60026;

$color-orange: #ff7a00;
$color-dark-pink: #ff5eb3;
$color-dark-purple: #6e52ff;
$color-violet: #9327ff;
$color-light-blue: #00bee8;
$color-turkise: #1fd7c1;
$color-deep-orange: #1fd7c1;
$color-light-orange: #ffa35e;
$color-light-pink: #fc71ff;
$color-medium-yellow: #ffc701;
$color-deep-blue: #0038ff;
$color-neon-green: #c3ff2b;
$color-yellow: #ffe62b;
$color-red: #ff4646;
$color-deep-yellow: #ffbb2b;
