@use '../../styles/variables.scss' as *;

.help-page {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: calc(100vh - 96px);
  box-sizing: border-box;

  @media (max-width: 768px) {
    height: calc(100% - 176px);
    overflow-x: auto;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $content-bg;
  z-index: -1;
}

.help-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.help-header-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    color: #000;
  }
}

.help-inner {
  width: 90%;
  max-width: 980px;
  margin-top: 3rem;
}

.back-arrow {
  position: absolute;
  top: 2rem;
  right: -4rem;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 21px;
    height: 21px;
    object-fit: contain;
  }

  &:hover {
    transform: translateX(-2px);
  }
}

.help-content {
  margin-top: 10px;

  h2 {
    font-size: 27px;
    font-weight: 700;
    line-height: 1.2;
    margin: 28px 0 12px;
    color: #000;
  }

  p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.2;
  }
}

.brand {
  color: #00bee8;
}

.steps {
  list-style: decimal;
  font-size: 27px;
  font-weight: 700;
  padding-left: 0;
  margin-top: 16px;
  width: 90%;
  margin-left: 2rem;

  li {
    counter-increment: step;
    margin-bottom: 24px;
  }

  .step-title {
    display: inline;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
  }

  .step-text {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
  }
}

.last {
  padding-bottom: 4rem;
}

.enjoy {
  margin-top: 48px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

@media (max-width: 1360px) {
  .back-arrow {
    margin-right: 4rem;
  }
}
