@use '../../styles/variables.scss' as vars;

.contacts_scroll_container{
  height: 100%;
  max-height: 100dvh;
  width: 300px;
  overflow-y: visible;
}

.add_btn{
  max-width: 456px;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 0.6rem;
  width: 100%;
}

.line_under_letter{
  height: 1px;
  width: 80%;
  background-color: vars.$primary-color;
}
