@use '../../styles/variables.scss' as vars;

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h2 {
    margin-block: 1rem;
    padding-left: 1.8rem;
    width: 80%;
  }

  a {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
  }
}

.contacts_outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts_scroll_container {
  height: calc(100vh - 96px - 7rem);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 395px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add_btn {
  width: 395px;
  height: 3rem;
  border: none;
  border-radius: 0.6rem;
  background-color: vars.$primary-color;
  max-width: 80%;
  margin: 2rem 0;
  font-size: 1rem;
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-color: vars.$secondary-color;
  }
}

.line_under_letter {
  font-size: 1rem;
  padding: 0 1rem;
  min-height: 1px;
  width: 80%;
  background-color: #d1d1d1;
}

.contact_initials {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: initials;
}

.contact_inner_card {
  padding: 1rem 1rem;
  width: 80%;
  display: grid;
  grid-template-areas: 'initials content';
  grid-template-columns: 1fr 3fr;
  border-radius: 0.8rem;
  transition: all 125ms;
  cursor: pointer;

  &:hover {
    background-color: #d1d1d1;
  }
}

.active_btn {
  background-color: vars.$primary-color;
  color: white;

  &:hover {
    background-color: vars.$primary-color;
  }
}

.details {
  display: flex;
  flex-direction: column;
  grid-area: content;
  overflow: hidden;
  white-space: nowrap;
}
.contacts-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.contacts_detail_area {
  flex: 1;
  padding: 60px 80px;
  background-color: #f6f7f8;
}

@media (max-width: 760px) {
  .contacts_detail_area {
    display: none;
  }

  .contacts_outer {
    height: calc(100vh - 96px - 96px);
  }

  .contacts_scroll_container {
    height: 100%;
  }

  .add_btn {
    width: 80%;
  }
}

dialog {
  border: none;
  border-radius: 25px;
  width: 900px;
  overflow: visible;

  &[open] {
    animation: slideIn 0.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }

  &.closed {
    animation: slideOut 0.3s ease-in forwards;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
