@use '../../styles/variables.scss' as *;

:host {
    display: block;
    min-height: 100dvh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.Main {
    min-height: 100dvh;
    width: 100%;
    background: $content-bg;
    position: relative;
}

.background {
    display: none;
}

.auth-page {
    width: 100%;
    max-width: 1440px;
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 16px 35px;
    box-sizing: border-box;
    position: relative;
}

.fade-in-page {
    opacity: 0;
    animation: fadeInPage 700ms ease 200ms forwards;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

app-log-in-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.signup-btn {
  width: 6rem;
  height: 49px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: $primary-color;
  color: #fff;
  cursor: pointer;
  transition: background-color 100ms ease;
  font-size: 1.25rem;
}



.sign-up-container{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.25rem;
  padding: 1rem;
  @media(max-width:768px){
    display: flex;
    gap: 1rem;
  }
}
