@use '../../../../styles/variables.scss' as vars;

.search-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid vars.$font-lightcolor;
  border-radius: 10px;
  background-color: white;
  flex-shrink: 0;
  width: 312px;

  &:focus-within{
    border-color: vars.$secondary-color;
  }

  @media(max-width:1050px){
    width: 100%;
    flex: 1;
  }
}

.seperator{
  width: 3px;
  height: 1.5rem;
  background-color: vars.$font-lightcolor;
}

input {
  font-size: 1.2rem;
  width: 100%;
  border:none;
  outline: none;
  padding-top: 0.8rem ;
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
  border-radius: 10px;

  &:focus{
  border-color: vars.$secondary-color;
  }

  &::placeholder{
    color: #D1D1D1;
  }
}


button{
 padding-right: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover svg path{
    fill: vars.$secondary-color;
  }
}
