<div class="content">
  <div class="left-column">
    <img class="logo" src="./assets/img/join-logo-light.png" alt="" />
    <h2>Add contact</h2>
    <div class="container-with-line">
      <p>Tasks are better with a team!</p>
      <div class="line"></div>
    </div>
  </div>
  <div class="right-column">
    <div class="default-img">
      @if (contactData.name != '') {
        <p>{{ contactData.name | initials }}</p>
      } @else {
        <img class="person-img" src="./assets/img/person-icon.png" alt="" />
      }
    </div>
    <div class="form-container">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input type="text" placeholder="Name" formControlName="name" />
          <img src="./assets/img/person-icon.png" alt="" />
        </div>
        @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
          <div class="error-message">Please fill out your first and last name.</div>
        }

        <div class="input-group">
          <input type="email" placeholder="Email" formControlName="email" />
          <img src="./assets/img/mail-icon.png" alt="" />
        </div>
        @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
          <div class="error-message">Please add a valid email.</div>
        }

        <div class="input-group">
          <input type="tel" placeholder="Phone" formControlName="phone" />
          <img src="./assets/img/phone-icon.png" alt="" />
        </div>
        @if (contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched) {
          <div class="error-message">Please add a valid phone number.</div>
        }

        <div class="button-container">
          <button type="button" class="cancel-btn" (click)="onCancel()">
            Cancel <img class="btn-img" src="./assets/img/close-cross.png" alt="" />
          </button>
          <button type="submit" class="create-btn" [disabled]="contactForm.invalid">
            Create contact <img class="btn-img-check" src="./assets/img/check-small.png" alt="" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
