<div class="content">
  <div class="left-column">
    <div class="left-outer-container">
      <div class="mobile-close-btn-container">
        <button class="close-btn-mobile" (click)="emitCloseDialog(); onClose()">
          <img src="./assets/img/close-light.png" alt="" />
        </button>
      </div>
    </div>

    <div class="left-inner-container">
      <img class="logo" src="./assets/img/join-logo-light.png" alt="" />
      <h2>
        @if (isEditing) {
          Edit contact
        } @else {
          Add contact
        }
      </h2>
      <div class="container-with-line">
        <p>Tasks are better with a team!</p>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="close-btn-container">
      <button class="close-dialog-btn" (click)="emitCloseDialog(); onClose()">
        <img src="./assets/img/close-cross.png" alt="" />
      </button>
    </div>
    <div class="bottom-container">
      <div class="default-img" [style.background-color]="contactData().color || null">
        @if (contactData().name) {
          <p>{{ contactData()!.name | initials }}</p>
        } @else {
          <img class="person-img" src="./assets/img/person-icon.png" alt="" />
        }
      </div>
      <div class="form-container">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="input-field-container">
            <div class="input-group">
              <input
                type="text"
                placeholder="Name"
                formControlName="name"
                name="fullName"
                autocomplete="name"
              />
              <img src="./assets/img/person-icon.png" alt="" />
            </div>
            <div class="error-wrapper">
              @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
                <div class="error-message">Please fill out your first and last name.</div>
              }
            </div>
          </div>
          <div class="input-field-container">
            <div class="input-group">
              <input
                type="email"
                placeholder="Email"
                formControlName="email"
                name="email"
                autocomplete="email"
              />
              <img src="./assets/img/mail-icon.png" alt="" />
            </div>
            <div class="error-wrapper">
              @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
                <div class="error-message">Please add a valid email.</div>
              }
            </div>
          </div>
          <div class="input-field-container">
            <div class="input-group">
              <input
                type="number"
                placeholder="Phone"
                formControlName="phone"
                name="phone"
                autocomplete="tel"
              />
              <img src="./assets/img/phone-icon.png" alt="" />
            </div>
            <div class="error-wrapper">
              @if (contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched) {
                <div class="error-message">Please add a valid phone number.</div>
              }
            </div>
          </div>
          <div class="button-container">
            <button type="button" class="cancel-btn" (click)="emitCloseDialog(); onCancel()">
              @if (isEditing) {
                Delete
              } @else {
                Cancel
              }
              @if (!isEditing) {
                <img class="btn-img" src="./assets/img/close-cross.png" alt="" />
              }
            </button>
            <button type="submit" class="create-btn" [disabled]="contactForm.invalid">
              @if (isEditing) {
                Save
              } @else {
                Create contact
              }
              <img class="btn-img-check" src="./assets/img/check-small.png" alt="" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
