@use '../../../../styles/variables.scss' as vars;

.content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

.left-column {
  background-color: vars.$primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 120px 40px;
  gap: 1rem;
  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 300px;
  }
}

.logo {
  width: 55px;
  @media (max-width: 768px) {
    display: none;
  }
}

.container-with-line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  height: 2px;
  width: 50px;
  border-radius: 5px;
  background-color: vars.$secondary-color;
}

.default-img {
  height: 120px;
  width: 120px;
  background-color: vars.$font-lightcolor;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 890px) {
    height: 100px;
    width: 100px;
  }
  @media (max-width: 768px) {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 240px;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding-bottom: 2rem;

  @media (max-width: 768px) {
    width: 100%;
    gap: 0;
  }
}

.bottom-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  @media (max-width: 900px) {
    width: 90%;
  }
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
  }
}

.person-img {
  width: 40px;
  filter: grayscale(100%) brightness(0) invert(100%);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.cancel-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid vars.$tertiary-color;
  color: vars.$tertiary-color;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  @media (max-width: 825px) {
    padding: 10px 10px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.create-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: vars.$tertiary-color;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  @media (max-width: 825px) {
    padding: 10px 10px;
  }
}

.btn-img {
  width: 20px;
  height: 20px;
}

.btn-img-check {
  width: 15px;
  height: 10px;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid vars.$font-lightcolor;
  padding: 12px 12px;
  border-radius: 10px;

  input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    &::placeholder {
      color: vars.$font-lightcolor;
    }
  }

  img {
    margin-left: 10px;
  }

  &:has(input:focus.ng-invalid.ng-touched) {
    border: 1px solid #e60026;
  }
}

.close-dialog-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-btn-container {
  display: flex;
  justify-content: end;
  @media (max-width: 900px) {
    padding-right: clamp(20px, 1vw, 40px);
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.error-wrapper {
  height: 18px;
}

.error-message {
  color: #e60026;
  font-size: 14px;
}

.close-btn-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}

.mobile-close-btn-container {
  width: 80%;
  display: flex;
  justify-content: end;
}
