<div class="contacts-selector">
  <div class="dropdown-wrapper">

    <div class="dropdown-trigger" (click)="toggleDropdown()" >
      <span class="placeholder-text">
        {{ selectedContacts.length > 0 ? selectedContacts.length + ' contact(s) selected' : 'Select contacts to assign'
        }}
      </span>
      <span class="icon" [class.open]="isOpen"></span>
    </div>

    @if (isOpen) {
    <div class="dropdown-panel">

      <div class="search-wrapper">
        <input type="text" placeholder="Search contacts..." [value]="searchTerm()"
          (input)="searchTerm.set($any($event.target).value)" class="search-input" />
      </div>

      <ul class="contact-list">
        @if (filteredContacts().length === 0) {
        <li class="no-results">No contacts found.</li>
        }
        @for (contact of filteredContacts(); track contact.id) {
        <li class="contact-item" [class.selected]="isSelected(contact)" (click)="toggleContact(contact)">
          <div class="contact-avatar" [style.background-color]="contact.color">
            @if(contact.image == null){
            {{ getInitials(contact.name) }}
            }
            @else{
            <img src="{{contact.image.base64}}" class="photo">
            }
          </div>
          <span class="contact-name">{{ contact.name }}</span>
          <img [src]="isSelected(contact)
                  ? 'assets/img/checkbox-white-marked.png'
                  : 'assets/img/checkbox-dark.png'" alt="checkbox" class="checkbox-icon" />
        </li>
        }
      </ul>
    </div>
    }
  </div>
  @if (selectedContacts.length > 0) {
  <div class="selected-avatars">
    @for (contact of selectedContacts.slice(0, 3); track contact.id) {
    <div class="contact-avatar" [style.background-color]="contact.color" [title]="contact.name">
      @if(contact.image == null){
      {{ getInitials(contact.name) }}
      }
      @else{
      <img src="{{contact.image.base64}}" class="photo">
      }
    </div>
    }

    @if (selectedContacts.length > 3) {
    <div class="extra-count">
      +{{ selectedContacts.length - 3 }}
    </div>
    }
  </div>
  }

</div>
