@use '../../styles/variables.scss' as *;

:host {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background: $content-bg;
}

@media (max-height: 766px) and (max-width: 768px) {
    app-log-in-logo {
        display: none;
    }
}