.outer_container {
  width: 160px;
  height: 120px;
  border-radius: 8px;
  border: 1.5px solid #A8A8A8;
  color: #929292;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;

  .hover_container {
    position: absolute;
    top: 0;
    height: 75%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    opacity: 0;
    transition: all 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .download{
    cursor: pointer;
  }

  &:hover{
    .hover_container{
      opacity: 1;
    }
  }
}

.delete_btn{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: #29abe2;
  }
}

img {
  height: 100%;
  width: 100%;
}

.name_container {
  position: absolute;
  bottom: 0;
  background-color: #F6F7F8;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
