@use '../../styles/variables.scss' as vars;

.main {
  max-height: calc(100dvh - 96px);
  background-color: vars.$content-bg;
  height: 100%;

  @media (max-width: 1170px) {
    height: calc(100% - 96px);
  }

  @media (max-width: 768px) {
    height: calc(100% - 176px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  padding: 0 40px;

  @media (max-width: 1170px) {
    gap: 1rem;
    padding: 2rem 40px;
  }
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 232px;

  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
}

h2 {
  font-size: 4rem;

  @media (max-width: 768px) {
    font-size: 41px;
  }
}

.board-actions {
  width: 100%;
}

.first-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: vars.$primary-color;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @media (max-width: 1050px) {
    display: block;
  }

  @media (max-width: 768px) {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background-color: vars.$secondary-color;
  }
}

svg {
  width: 1rem;
}
