@use '../../../styles/variables.scss' as vars;

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 60%;

  @media (max-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-areas: 'left left_center right_center right';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 0em;
    gap: unset;

    .left {
      grid-area: left;
    }

    .left_center {
      grid-area: left_center;
    }

    .right_center {
      grid-area: right_center;
    }

    .right {
      grid-area: right;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #2a3d59;

    @media (max-width: 768px) {
      width: 100%;
      background-color: transparent;
      border-radius: 1rem;
    }
  }
}

.active {
  background: vars.$tertiary-color;

  button {
    color: white;
  }

  #path1,
  #path2 {
    fill: white;
  }

  @media (max-width: 768px) {
    border-radius: 1rem;
  }
}

button {
  width: 60%;
  padding: 10px 40px;
  background-color: transparent;
  border: none;
  color: vars.$font-lightcolor;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
  }

  #path1,
  #path2 {
    fill: vars.$font-lightcolor;
  }

  &:hover {
    cursor: pointer;
    color: white;

    #path1,
    #path2 {
      fill: white;
    }
  }

  @media (max-width: 768px) {
    width: 80px;
    height: 80px;
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 0.5rem;
  }

  &:hover {
    background-color: #2a3d59;

    @media (max-width: 768px) {
      background-color: vars.$tertiary-color;
    }
  }
}

img {
  width: 20px;
  height: 20px;
}

.guest-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #2a7cff;
  color: white;

  padding: 16px 28px;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 500;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

  z-index: 9999;

  /* ❗ STANDARD: unsichtbar */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.3s ease;
}

/* 👉 sichtbar */
.guest-popup.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}