<form class="outer" [formGroup]="taskForm" (ngSubmit)="createTask()">
  <article (click)="closeDropdown()">
    <h1>Add Task</h1>
    <div class="form">
      <section class="left">
        <div class="form-inner">
          <label>Title<span class="red">*</span></label>
          <input formControlName="title" placeholder="Enter a title" />
        </div>
        <div class="form-inner">
          <label>Description</label>
          <textarea formControlName="desc" placeholder="Enter a description"></textarea>
        </div>
        <div class="form-inner">
          <label>Due date<span class="red">*</span></label>
          <input formControlName="date" id="date" type="date" min="{{currentDate()}}" />
        </div>
      </section>
      <div class="vertical-line"></div>
      <section class="right">
        <div class="form-inner">
          <label>Priority</label>
          <div class="priority">
            <app-priority-button [type]=2 [active]="currentPrio() === 2" (click)="setPriority(2)"></app-priority-button>
            <app-priority-button [type]=1 [active]="currentPrio() === 1" (click)="setPriority(1)"></app-priority-button>
            <app-priority-button [type]=0 [active]="currentPrio() === 0" (click)="setPriority(0)"></app-priority-button>
          </div>
        </div>
        <div class="form-inner">
          <label for="assigned-to">Assigned to</label>
          <app-contacts-selector-with-search #contactsSelector
            (click)="$event.stopPropagation()"></app-contacts-selector-with-search>
        </div>
        <div class="form-inner">
          <label for="category">Category<span class="red">*</span></label>
          <select formControlName="cat" name="category" id="category">
            <button>
              <selectedcontent></selectedcontent>
            </button>
            <option value="">Please select a category</option>
            <option value="techTask">Technical Task</option>
            <option value="userStory">User Story</option>
          </select>
        </div>

        <div class="form-inner">
          <label for="subtasks">Subtasks</label>
          <div class="subtask-block">
            <div class="subtask">
              <input id="subtask" name="subtask" formControlName="subtask" placeholder="Add new subtask" (focus)="onFocusSubtask()" (blur)="onBlurSubtask()"/>

              <div #subtaskBtnContainer class="subtask-btn-area d-none">
                <button type="button" class="subtask-btn" (click)="clearSubtask()">
                  <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="path"
                      d="M6.243 6.243L11.486 11.486M1 11.486L6.243 6.243L1 11.486ZM11.486 1L6.242 6.243L11.486 1ZM6.242 6.243L1 1L6.242 6.243Z"
                      stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>

                <div class="vertical-line short"></div>

                <button type="button" class="subtask-btn" (click)="addSubtask()">
                  <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="path"
                      d="M5.288 8.775L13.763 0.3C13.963 0.1 14.2005 0 14.4755 0C14.7505 0 14.988 0.1 15.188 0.3C15.388 0.5 15.488 0.7375 15.488 1.0125C15.488 1.2875 15.388 1.525 15.188 1.725L5.988 10.925C5.788 11.125 5.55467 11.225 5.288 11.225C5.02133 11.225 4.788 11.125 4.588 10.925L0.288 6.625C0.088 6.425 -0.00783333 6.1875 0.0005 5.9125C0.00883333 5.6375 0.113 5.4 0.313 5.2C0.513 5 0.7505 4.9 1.0255 4.9C1.3005 4.9 1.538 5 1.738 5.2L5.288 8.775Z"
                      fill="#000000" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <ul class="subtask-list">
            @for (subtask of currentTask().subtasks; track $index; let i = $index) {
              <li>
                <app-subtask-button [title]="subtask.title" [index]="i" (deleteSubtask)="removeSubtask($event)" (updateSubtask)="editSubtask($event)"></app-subtask-button>
              </li>
            }
          </ul>
        </div>
      </section>
    </div>
  </article>
  <section class="bottom-actions">
    <p><span class="red">*</span>This field is required</p>
    <div class="actions">
      <button class="clear-btn buttons" (click)="resetForm()">Clear <svg width="13" height="13" viewBox="0 0 13 13"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="path"
            d="M6.243 6.243L11.486 11.486M1 11.486L6.243 6.243L1 11.486ZM11.486 1L6.242 6.243L11.486 1ZM6.242 6.243L1 1L6.242 6.243Z"
            stroke="current" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>
      <button type="submit" class="create-btn buttons" [disabled]="!taskForm.valid">Create Task<svg width="16"
          height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="path"
            d="M5.288 8.775L13.763 0.3C13.963 0.1 14.2005 0 14.4755 0C14.7505 0 14.988 0.1 15.188 0.3C15.388 0.5 15.488 0.7375 15.488 1.0125C15.488 1.2875 15.388 1.525 15.188 1.725L5.988 10.925C5.788 11.125 5.55467 11.225 5.288 11.225C5.02133 11.225 4.788 11.125 4.588 10.925L0.288 6.625C0.088 6.425 -0.00783333 6.1875 0.0005 5.9125C0.00883333 5.6375 0.113 5.4 0.313 5.2C0.513 5 0.7505 4.9 1.0255 4.9C1.3005 4.9 1.538 5 1.738 5.2L5.288 8.775Z"
            fill="current" />
        </svg>
      </button>
    </div>
  </section>
</form>
