@use '../../../styles/variables.scss' as vars;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  box-sizing: border-box;
}


h1 {
  margin-block-end: 3rem;
  font-size: 3.8rem;
}

.subheadline {
  color: rgb(161, 161, 161);
}

.outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-right: 2rem;
}

.content{
  margin-left: 2px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.form {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.form-inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 440px;
}

.red {
  color: red;
}

input,
textarea {
  height: 20px;
  padding: 10px;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
  font-size: 16px;

  &:focus,
  &:hover {
    outline: 1px solid vars.$secondary-color;
  }
}

textarea {
  height: 80px;
}

.priority {
  display: flex;
  justify-content: space-between;
  gap: 0.5vw;
}

.low-active {
  background-color: #7AE229;
}

.med-active {
  background-color: #FFA800;
}

.urgent-active {
  background-color: #FF3D00;
}

.vertical-line {
  width: 1px;
  background-color: #D1D1D1;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  div {
    padding: 6px 10px;
    border-radius: 20px;
    background: #eee;
    cursor: pointer;

    &.selected {
      background: #2a3647;
      color: white;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  font-size: 21px;
}

.clear-btn {
  width: 110px;
  height: 56px;
  border: 1px solid #2A3647;
  background-color: transparent;
  transition: all 0.2s ease;

  #path {
    stroke: black;
  }

  &:hover {
    border: 3px solid vars.$secondary-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
    color: vars.$secondary-color;

    #path {
      stroke: vars.$secondary-color;
    }
  }
}

.subtask {
  display: grid;
  grid-template-areas: 'text button';
  grid-template-columns: 85% 15%;
  width: 100%;
  height: 40px;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
  background-color: white;

  &:hover,
  &:focus {
    border: 1px solid vars.$secondary-color;
  }

  input {
    grid-area: text;
    height: unset;
    border: none;

    &:focus,
    &:hover {
      border: none;
      outline: none;
    }
  }

  .short {
    height: 22px;
  }
}

.subtask-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 440px;
}

.subtask-block .subtask,
.subtask-block .subtask-list,
.subtask-block .subtask-list li {
  width: 100%;
}

.subtask-btn-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.subtask-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;

  &:hover {
    border-radius: 50%;
    background-color: #f6f7f8;
  }
}

.subtask-list {
  max-height: 90px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #A8A8A8;
  }
}

.create-btn {
  width: 183px;
  height: 56px;
  border: none;
  background-color: #2A3647;
  color: white;
  font-weight: 700;
  transition: all 0.2s ease;

  #path {
    fill: white;
  }

  &:hover {
    background-color: vars.$secondary-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.bottom-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.validation{
  height: 96px;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-color: #2A3647;
    opacity: 0.5;
  }
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  flex: 1;
  padding: 10px;
  border: 1px solid #D1D1D1;
  background: white;
  transition: 0.4s;
  position: relative;

  &:hover,
  &:focus {
    border-color: vars.$secondary-color;
  }

  &::picker-icon {
    color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23999999' d='M5 7l5 5 5-5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: -4px center;
    background-size: 18px;
    transition: all 0.3s;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &:open::picker-icon {
    rotate: 180deg;
  }
}

.invalid {
  border-color: red;
}

.d-none {
  display: none;
}

.invalid-text {
  display: block;
  color: red;
  font-size: 1rem;
  font-weight: 200;
}

::picker(select) {
  border: none;
  border-radius: 8px;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  border: none;
  background: white;
  transition: 0.4s;
  cursor: pointer;

  &:first-of-type {
    display: none;
  }

  &:last-of-type {
    border-radius: 0 0 8px 8px;
  }

  &:not(option:last-of-type) {
    border-bottom: none;
  }

  &:nth-of-type(odd) {
    background: white;
  }

  &:hover,
  &:focus {
    border-radius: 0.5rem;
    background: #D1D1D1;
  }

  .icon {
    font-size: 1.6rem;
    text-box: trim-both cap alphabetic;
  }
}

@media (max-width: 1000px) {
  .form {
    gap: clamp(0px, 10vw, 1rem);
  }
}

@media (max-width: 893px) {
  .form {
    flex-direction: column;
  }

  .form-inner {
    max-width: unset;
  }

  .bottom-actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding: 1rem 0;
  }

  .actions {
    justify-content: space-between;
    width: 100%;
  }

  .subtask-block {
    max-width: unset;
  }
}

@media (max-width: 768px) {
  .actions {
    display: none;
  }
}

@media (max-width: 420px) {
  .priority {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}
