:host {
    position: absolute;
    inset: 0;
    display: block;
    pointer-events: none;
    z-index: 2000;
}

.slider-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 274px;
    height: 334px;
    object-fit: contain;
    transform: translate(-50%, -50%);
    animation: slideToCorner 1000ms cubic-bezier(0.22, 1, 0.36, 1) forwards;

}

.slider-logo {
    will-change: transform, top, left, width, height;
}

@keyframes slideToCorner {
    from {
        top: 50%;
        left: 50%;
        width: 274px;
        height: 334px;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    to {
        top: 16px;
        left: 271px;
        width: 100px;
        height: 122px;
        transform: translate(0, 0);
    }
}