.slider-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    display: block;
    width: 274px;
    height: 334px;
    transform: translate(-50%, -50%);
    object-fit: contain;
    pointer-events: none;
    animation: slideToCorner 1000ms ease forwards;
}

@keyframes slideToCorner {
    to {
        position: fixed;
        top: 80px;
        left: 77px;
        width: 100px;
        height: 122px;
        transform: translate(0, 0);
    }
}
