@use '../../../styles/variables.scss' as *;

.login-header {
    position: fixed;
    top: 67px;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1440px;
}

.content {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 279px;
    height: 49px;
}

.login-text {
    font-size: 20px;
    line-height: 1.2;
}

.signup-btn {
    height: 49px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    background: $primary-color;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 100ms ease;
}

.signup-btn:hover {
    background: $brand-color;
}

@media (max-width: 768px) {
    .login-header {
        top: 40px;
        right: 40px;
        gap: 24px;
    }

    .login-text {
        font-size: 18px;
    }
}

@media (max-width: 544px) {
    .login-header {
        top: auto;
        right: auto;
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        justify-content: center;
        gap: 24px;
    }

    .login-text {
        font-size: 16px;
    }
}

@media (max-width: 428px) {
    .login-header {
        bottom: 100px;
        gap: 20px;
    }

    .signup-btn {
        height: 45px;
        font-size: 16px;
        padding: 0 16px;
    }
}

@media (max-width: 320px) {
    .login-header {
        bottom: 92px;
        gap: 16px;
    }

    .login-text {
        font-size: 15px;
    }

    .signup-btn {
        height: 42px;
        font-size: 15px;
        padding: 0 14px;
    }
}