.content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 700px;
  @media(max-width:1000px){
    width: 650px;
  }
  @media(max-width:945px){
    width: 520px;
  }
  @media(max-width:800px){
    width: 500px;
  }

    @media(max-width:768px){
    width: clamp(300px, 90vw, 500px);
  }
}
