.main-container {
  max-width: calc(1440px - 15rem);
  width: calc(100% - 15rem);
  height: 100dvh;
  margin-left: 15rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.568);
  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
  }
}
