:root {
  --sidebar-width: 15rem;
  display: flex;
  flex-direction: row-reverse;
}

:host {
  display: flex;
}

.main-container {
  max-width: calc(1440px - 240px);
  min-height: 100dvh;
  box-sizing: border-box;
  @media (max-width: 768px) {
    max-width: unset;
    width: 100%;
    height: calc(100dvh - 80px);
  }
}

.shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

app-footer{
  width: 15rem;
  @media (max-width: 768px){
    width: unset;
  }
}
