:root {
  --sidebar-width: 15rem;
  display: flex;
  flex-direction: row-reverse;
}

:host {
  display: flex;
}

.outer{
  box-sizing: border-box;
  width: 100%;
  // overflow: hidden;
  height: 100dvh;
}

.main-container {
  max-width: calc(1440px - 240px);
  height: 100%;
  max-height: calc(100dvh - 96px);
  box-sizing: border-box;

  @media (max-width: 1170px){
    max-width: calc(100dvw - 15rem);
  }

  @media (max-width: 768px) {
    max-width: unset;
    width: 100%;
    height: calc(100dvh - 80px);
  }
}

.background-full{
  max-width: unset;
  width: 100%;
  max-height: unset;
}

// .shadow {
//   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
// }

app-footer{
  width: 15rem;
  height: 100dvh;
  @media (max-width: 768px){
    width: unset;
  }
}


