.main {
  height: calc(100% - 96px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f7f8;
}

@media (max-width: 893px) {
  .main {
    height: calc(100% - 176px);
    overflow: auto;
  }
  .form{
    margin-bottom: 1rem;
  }
}
