@use '../../../../styles/variables.scss' as vars;

.content {
  height: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.411);
}


.category {
  color: white;
  background-color: #0038FF;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
}

.headline {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.description {
  color: vars.$light-grey;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 50%;
  height: .5rem;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;

  .progress-fill {
    height: 100%;
    background-color: #4589FF;
    border-radius: 10px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assigned-user-container {
  display: flex;
  align-items: center;

  .mini-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    border: 2px solid #ffffff;

    &:not(:first-child) {
      margin-left: -17px;
    }
  }
}