@use '../../../../styles/variables.scss' as vars;

.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: vars.$light-grey;
  }
}

.button-area {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.actions-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 82%;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  font-size: 21px;
}

.clear-btn {
  width: 110px;
  height: 56px;
  border: 1px solid #2A3647;
  background-color: transparent;
  transition: all 0.2s ease;

  #path {
    stroke: black;
  }

  &:hover {
    border: 3px solid vars.$secondary-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
    color: vars.$secondary-color;

    #path {
      stroke: vars.$secondary-color;
    }
  }
}

.create-btn {
  width: 183px;
  height: 56px;
  border: none;
  background-color: #2A3647;
  color: white;
  font-weight: 700;
  transition: all 0.2s ease;

  #path {
    fill: white;
  }

  &:hover {
    background-color: vars.$secondary-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
  }
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-color: #2A3647;
    opacity: 0.5;
  }
}

@media (max-width: 893px) {
  .main {
    overflow: auto;
  }

  .form {
    margin-bottom: 1rem;
  }

  .close-btn {
    align-self: end;
    position: unset;
  }
}

@media (max-width: 768px) {
  .button-area {
    display: flex;
  }
}

@media (max-width: 360px) {
  .buttons {
    height: 40px;
    font-size: 1rem;
  }
}
