.logo-stage {
    position: fixed;
    inset: 0;
    z-index: 9999;
    pointer-events: none;
    background: transparent;

    display: grid;
    place-items: center;
}

.join-logo {
    width: 274px;
    height: 334px;
    object-fit: contain;
}

.logo-stage.stable {
    display: block;
}

.logo-stage.stable .join-logo {
    position: fixed;
    width: 100px;
    height: 122px;
    top: 80px;
    left: 77px;
}

@media (max-width: 1000px) {
    .logo-stage.stable .join-logo {
        width: 80px;
        height: auto;
        top: 40px;
        left: 40px;
    }
}

@media (max-width: 544px) {
    .logo-stage.stable .join-logo {
        width: 64px;
        top: 32px;
        left: 24px;
    }
}

@media (max-width: 400px) {
    .logo-stage.stable .join-logo {
        width: 56px;
        top: 24px;
        left: 16px;
    }
}