.logo-stage {
    position: fixed;
    inset: 0;
    z-index: 9999;
    pointer-events: none;
    background: transparent;

    display: grid;
    place-items: center;
}

.join-logo {
    width: 274px;
    height: 334px;
    object-fit: contain;
}

.logo-stage.stable {
    display: block;
}

.logo-stage.stable .join-logo {
    position: fixed;
    width: 100px;
    height: 122px;
    top: 80px;
    left: 77px;
}