@use '../../../styles/variables.scss' as *;

.login-footer {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);

    width: 246px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.footer-link {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    color: #a8a8a8;
    text-decoration: none;
    cursor: pointer;

    transition: color 100ms ease;
}

.footer-link:hover {
    color: $brand-color;
}

@media (max-width: 544px) {
    .login-footer {
        gap: 24px;
    }

    .footer-link {
        font-size: 14px;
    }
}

@media (max-width: 428px) {
    .login-footer {
        bottom: 24px;
    }
}

@media (max-width: 320px) {
    .login-footer {
        gap: 16px;
        bottom: 18px;
    }

    .footer-link {
        font-size: 13px;
    }
}