<div class="content" cdkDropListGroup >

  <div class="column">
    <div class="first-col">
      <div class="col-header">
        <h3>To do</h3>
        <button class="add-btn" (click)="openAddTask('To do')">
          <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 10.6667H0V8H8V0H10.6667V8H18.6667V10.6667H10.6667V18.6667H8V10.6667Z" fill="currentColor" />
          </svg>
        </button>
      </div>

      <div class="task-column" cdkDropList id="To do" [cdkDropListData]="filteredTodo" (cdkDropListDropped)="drop($event)" >
        @for (task of filteredTodo; track task.id; let isLast = $last) {
        <app-board-cards cdkDrag [currentTask]="task" (cardOpened)="openDialog(task)" [class.last-el]="isLast"></app-board-cards>
        } @empty {
        <div class="no-task-placeholder">No tasks To do</div>
        }
      </div>
    </div>
  </div>


  <div class="column">
    <div class="second-col">
      <div class="col-header">
        <h3>In progress</h3>
        <button class="add-btn" (click)="openAddTask('In progress')">
          <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 10.6667H0V8H8V0H10.6667V8H18.6667V10.6667H10.6667V18.6667H8V10.6667Z" fill="currentColor" />
          </svg>
        </button>
      </div>

      <div class="task-column" cdkDropList id="In progress" [cdkDropListData]="filteredInProgress" (cdkDropListDropped)="drop($event)">
        @for (task of filteredInProgress; track task.id; let isLast = $last) {
        <app-board-cards cdkDrag [currentTask]="task" (cardOpened)="openDialog(task)" [class.last-el]="isLast"></app-board-cards>
        } @empty {
        <div class="no-task-placeholder">No tasks in progress</div>
        }
      </div>
    </div>
  </div>


  <div class="column">
    <div class="third-col">
      <div class="col-header">
        <h3>Await feedback</h3>
        <button class="add-btn" (click)="openAddTask('Await feedback')">
          <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 10.6667H0V8H8V0H10.6667V8H18.6667V10.6667H10.6667V18.6667H8V10.6667Z" fill="currentColor" />
          </svg>
        </button>
      </div>

      <div class="task-column" cdkDropList id="Await feedback" [cdkDropListData]="filteredAwaitFeedback" (cdkDropListDropped)="drop($event)">
        @for (task of filteredAwaitFeedback; track task.id; let isLast = $last) {
        <app-board-cards cdkDrag [currentTask]="task" (cardOpened)="openDialog(task)" [class.last-el]="isLast"></app-board-cards>
        } @empty {
        <div class="no-task-placeholder">No tasks awaiting feedback</div>
        }
      </div>
    </div>
  </div>

  <div class="column">
    <div class="fourth-col">
      <div class="col-header">
        <h3>Done</h3>
      </div>

      <div class="task-column" cdkDropList id="Done" [cdkDropListData]="filteredDone" (cdkDropListDropped)="drop($event)">
        @for (task of filteredDone; track task.id; let isLast = $last) {
        <app-board-cards cdkDrag [currentTask]="task" (cardOpened)="openDialog(task)" [class.last-el]="isLast"></app-board-cards>
        } @empty {
        <div class="no-task-placeholder">No tasks done</div>
        }
      </div>
    </div>
  </div>

</div>

<dialog #cardDialog>
  <app-board-cards-full #cardData (closeTriggered)="closeDialog()"></app-board-cards-full>
</dialog>

<dialog class="addTaskDialog" #addTaksDialog>
  <app-add-task-dialog #cardTaskData (closeTriggered)="closeAddTaskDialog()"></app-add-task-dialog>
</dialog>
