@use '../../../../styles/variables.scss' as vars;

.content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inner-content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button{
  width: 300px;
  height: 200px;
  border-radius: 25px;
  border: none;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  color: vars.$primary-color;
  font-size: 1rem;

  &:hover{
    background-color: vars.$primary-color;
    transform: scale(1.1);
    color: white;
    .circle {
      background-color: white;
      svg path {
        fill: vars.$primary-color;
      }
    }
  }
}

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: vars.$primary-color;
  transition: background-color 0.3s ease-in-out;

  svg path {
    transition: fill 0.3s ease-in-out;
  }
}
