@use '../../../../styles/variables.scss' as vars;

.content{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;

  @media(max-width: 500px) {
    gap: 0.5rem;
  }
}

.inner-content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button{
  // width: 300px;
  // height: 200px;
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 25px;
  border: none;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  color: vars.$primary-color;
  font-size: 1.25rem;

  &:hover{
    background-color: vars.$primary-color;
    transform: scale(1.1);
    color: white;
    .circle {
      background-color: white;
      svg path {
        fill: vars.$primary-color;
      }
    }
    .amount{
      color: white;
    }
  }

   @media(max-width:1000px){
    width: 250px;
    height: 150px;
    font-size: 1rem;
  }

  @media(max-width:800px){
    width: 230px;
  }

  @media(max-width: 500px) {
    height: 110px;
    max-width: 45%;
  }
}

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: vars.$primary-color;
  transition: background-color 0.3s ease-in-out;

  svg path {
    transition: fill 0.3s ease-in-out;
  }

   @media(max-width:1000px){
    height: 40px;
    width: 40px;
  }
}

svg{
   @media(max-width:1000px){
    height: 20px;
    width: 20px;
  }
}

.amount{
  color: black;
  font-size: 4rem;
  font-weight: bold;
   @media(max-width:1000px){

    font-size: 3rem;
  }
}
