@use '../../../../styles/variables.scss' as vars;


button {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: vars.$primary-color;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  white-space: nowrap;
  flex-shrink: 0;

  &:hover {
    background-color: vars.$secondary-color;
  }

  @media(max-width:1050px) {
    display: none;
  }
}