@font-face {
  font-family: 'Inter';
  src: url('https://dominik-koniorczyk.de/projects/join/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://dominik-koniorczyk.de/projects/join/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body{
  background: #f6f7f8;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
}
