@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2'); ///angular-projects/join-01
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
}
