@use '../../../../styles/variables.scss' as vars;

.circle {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid vars.$primary-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #0c2e621f;
    cursor: pointer;
  }
}

.initial-firstname,
.initial-lastname {
  color: vars.$secondary-color;
  font-weight: bold;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #2a3647;
  min-width: 140px;
  top: 80px;
  border-radius: 12px 0 12px 12px;
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;

  &.show {
    display: block;
  }
}

a {
  color: #cdcdcd;
  padding: 12px 0px;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: #2a3d59;
  }
}
